
html {
  height: 100%;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: rotateX(180deg);
}

body {
  font-family: "Montserrat", "Poppins", Tahoma;
  background: #0f0d11;
  display: flex;
  align-items: center;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-weight: 400;
}

.wrapper {
  width: 800px;
  height: 600px;
  margin: 10px auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 10px 66px 1px rgba(0, 0, 0, 0.4);
}

.main-wrap {
  position: relative;
  background-color: rgba(229, 229, 229, 0.05);
  height: 100%;
  width: calc(100% - 250px);
  margin-left: 250px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.main {
  display: flex;
  width: calc(1100px + 100px);
  height: 100%;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

.list,
.checkout {
  position: relative;
  width: calc(50% - 50px);
}

header {
  position: fixed;
  background-color: rgba(229,229,299,0.05);
  width: 550px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  -webkit-backdrop-filter: blur(1000px);
  backdrop-filter: blur(1000px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

header ul li {
  list-style: none;
  float: left;
  margin-right: 15px;
  opacity: 0;
  transform: translateX(-150px);
  transition: all 0.1s ease-in;
  color: #999;
  font-weight: 400;
  cursor: pointer;
}

header ul li:hover,
header ul li.selected {
  color: #ffffff;
  font-weight: 600;
}

.content {
  padding: 0 0 10px 15px;
  margin-top: 70px;
  position: relative;
  transition: all 1s ease;
}

.content h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.side ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

img{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}


ul.covers li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  vertical-align: top;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 140px;
  transform: translateY(100px);
  opacity: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background-color: rgba(229,229,229,0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

}

ul.covers li:hover {
  transition-delay: 100ms !important;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
  top: -5px; 
}
ul.covers li > * {
  display: block;
}

ul.covers li img {
  height: 200px;
  width: 140px;
  background-color: #607D8B;
  background-size: cover;
  transition: all 0.8s ease;
}

ul.covers li span {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  padding: 6px;
}

ul.covers li small {
  color: #888;
  font-size: 11px;
  padding-left: 6px;
  padding-bottom: 6px;
}

.checkout {
  display: flex;
  padding: 15px;
  width: calc(50% - 80px);
}

.checkout .sinopsis {
  width: 220px;
}

.checkout img.cover {
  height: 320px;
  width: 220px;
  background-position: center;
  background-size: cover;
}

.sinopsis h3,
.sinopsis p {
  margin: 5px 0;
}

.sinopsis h3 {
  color: #ffffff;
  font-weight: bold;
}

.sinopsis p {
  font-size: 14px;
  font-weight: 550;
  color: #ccc;
}

.sinopsis small {
  color: #aaa;
}

.checkout section {
  padding-left: 15px;
}

.checkout .screen {
  height: 15px;
  background-color: #e1cfba;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}

.checkout .seats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.checkout .seat {
  margin: 2px;
  padding: 3px;
  #background: #c3b1a3;
  background: rgba(229,229,299,0.2);
  color: white;
  border-radius: 3px;
  width: 19px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease;
}

.checkout .seat.aisle-right {
  margin-right: 10px;
}

.checkout .seat.aisle-left {
  margin-left: 10px;
}

.checkout .seat.aisle-top {
  margin-top: 10px;
}

.checkout .total button {
  border: none;
  border-radius: 2px;
  color: #fff;
  background-color: #ddd;
  width: 280px;
  height: 32px;
  display: block;
  margin-top: 10px;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.6s ease;
}

.checkout .total button.success {
  background-color: #81b383;
}

.checkout .legend {
  float: right;
  text-align: right;
  margin-right: 15px;
}

.checkout .legend li:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #c3b1a3;
  border-radius: 2px;
  position: relative;
  right: -5px;
  top: 3px;
}

.checkout .seat.taken,
.checkout .legend li:last-child:after {
  background-color: #ddd;
}

.checkout .seat.selected {
  background-color: #b58300;
}

.checkout .total {
  position: absolute;
  bottom: 20px;
  right: 17px;
  text-align: right;
}

.checkout .total span {
  font-size: 32px;
  color: #af8300;
  margin-left: 8px;
}

/***PAGE_TRANSITIONS***/
header.loaded ul li {
  transform: translateX(0);
  opacity: 1;
}

ul.covers.loaded li {
  transform: translateY(0);
  opacity: 1;
}

.main.page2 {
  transform: translateX(-550px);
}

.checkout > * {
  transition: all 0.8s ease;
  opacity: 0;
}

.checkout .sinopsis {
  transform: translateY(-600px);
}

.checkout section {
  transform: translateX(300px);
}

.checkout .total {
  transform: translateY(300px);
}

.page2 .checkout .sinopsis {
  transform: translateX(0);
  opacity: 1;
}

.page2 .checkout section {
  transform: translateX(0);
  opacity: 1;
}

.page2 .checkout .total {
  transform: translateY(0);
  opacity: 1;
}

/*.page2 .covers li {
  transform: translateY(100px);
  opacity: 0;
}*/
/*******/
.side {
  position: relative;

  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: rgba(229, 229, 229, 0.1);
  float: left;
  width: 250px;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

.side h3 {
  font-family: "Montserrat";
  font-size: 32px;
  margin: 15px 5px 0px;
  color: #FFFFFF;
  font-weight: 500;
  #text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

.side > div,
.side > input {
  margin: 5px 10px;
}

.side i:before {
  font-size: 18px;
  margin-right: 10px;
}


ul.menu {
  margin: 15px 0;
}

ul.menu li {
  padding: 10px;
  padding-left: 15px;
  color: #bbb;
  cursor: pointer;
}

ul.menu li:hover,
ul.menu li.selected {
  border-left: #ffffff solid 3px;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.1s ease;
}

ul.menu li:nth-child(7) {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

.side div.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  #background: #af8300 no-repeat center center fixed;
  background-image: var(--app-bg);
  background-size: cover;
  background-position: 0px 0px;
  /**important + cover**/
  filter: blur(5px);
  padding: 0;
  margin: 0;
  z-index: -1;
  border-bottom-left-radius: 25px;
}

.scroll {
  width: 36px;
  position: absolute;
  right: 0;
  top: 68px;
  z-index: 10;
}

.scroll button {
  border: none;
  background-color: transparent;
  outline: none;
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

.scroll button:first-child {
  margin-bottom: 470px;
}

.scroll i {
  font-size: 20px;
  transform: rotate(90deg);
  color: #aaa;
}

.scroll button:hover i {
  color: #ddd;
  font-weight: 500;
}

button.back {
  border: none;
  background-color: transparent;
  outline: none;
  margin-bottom: 8px;
  cursor: pointer;
}

button.back i {
  font-size: 24px;
  color: #ddd;
}
/*
.covers.up li:nth-child(1) {
  transition-delay: 950ms;
}

.covers.up li:nth-child(2) {
  transition-delay: 900ms;
}

.covers.up li:nth-child(3) {
  transition-delay: 850ms;
}

.covers.up li:nth-child(4) {
  transition-delay: 800ms;
}

.covers.up li:nth-child(5) {
  transition-delay: 750ms;
}

.covers.up li:nth-child(6) {
  transition-delay: 700ms;
}

.covers.up li:nth-child(7) {
  transition-delay: 650ms;
}

.covers.up li:nth-child(8) {
  transition-delay: 600ms;
}

.covers.up li:nth-child(9) {
  transition-delay: 550ms;
}

.covers.up li:nth-child(10) {
  transition-delay: 500ms;
}

.covers.up li:nth-child(11) {
  transition-delay: 450ms;
}

.covers.up li:nth-child(12) {
  transition-delay: 400ms;
}

.covers.up li:nth-child(13) {
  transition-delay: 350ms;
}

.covers.up li:nth-child(14) {
  transition-delay: 300ms;
}

.covers.up li:nth-child(15) {
  transition-delay: 250ms;
}

.covers.up li:nth-child(16) {
  transition-delay: 200ms;
}

.covers.up li:nth-child(17) {
  transition-delay: 150ms;
}

.covers.up li:nth-child(18) {
  transition-delay: 100ms;
}

.covers.up li:nth-child(19) {
  transition-delay: 50ms;
}

.covers.up li:nth-child(20) {
  transition-delay: 0ms;
}

.covers li:nth-child(1) {
  transition-delay: 0ms;
}

.covers li:nth-child(2) {
  transition-delay: 00ms;
}

.covers li:nth-child(3) {
  transition-delay: 0ms;
}

.covers li:nth-child(4) {
  transition-delay: 00ms;
}

.covers li:nth-child(5) {
  transition-delay: 0ms;
}

.covers li:nth-child(6) {
  transition-delay: 00ms;
}

.covers li:nth-child(7) {
  transition-delay: 0ms;
}

.covers li:nth-child(8) {
  transition-delay: 00ms;
}

.covers li:nth-child(9) {
  transition-delay: 0ms;
}

.covers li:nth-child(10) {
  transition-delay: 00ms;
}

.covers li:nth-child(11) {
  transition-delay: 0ms;
}

.covers li:nth-child(12) {
  transition-delay: 00ms;
}

.covers li:nth-child(13) {
  transition-delay: 0ms;
}

.covers li:nth-child(14) {
  transition-delay: 00ms;
}

.covers li:nth-child(15) {
  transition-delay: 0ms;
}

.covers li:nth-child(16) {
  transition-delay: 00ms;
}

.covers li:nth-child(17) {
  transition-delay: 0ms;
}

.covers li:nth-child(18) {
  transition-delay: 00ms;
}

.covers li:nth-child(19) {
  transition-delay: 0ms;
}

.covers li:nth-child(20) {
  transition-delay: 000ms;
}

header li:nth-child(6) {
  transition-delay: 0ms;
}

header li:nth-child(5) {
  transition-delay: 00ms;
}

header li:nth-child(4) {
  transition-delay: 0ms;
}

header li:nth-child(3) {
  transition-delay: 200ms;
}

header li:nth-child(2) {
  transition-delay: 250ms;
}

header li:nth-child(1) {
  transition-delay: 300ms;
}
*/
/** Loader **/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  display: none;
  color: #ddd;
  font-size: 10px;
  margin: 5px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  position: relative;
  top: -15px;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
}
#navbar li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color:#2C3333;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #A5C9CA;
  text-decoration: underline;
}